body {
  font-family: "Roboto", sans-serif;
}
.top-div {
}
.navbar-margin {
  margin-left: 190px;
}
.gdsc-letters {
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 10px;
}
.deogiri-letters {
  font-size: 60px;
  font-weight: 800;
  text-shadow: 0 0 2px #000000;
}
@media (max-width: 768px) {
  .deogiri-letters {
    font-size: 30px;
    font-weight: 800;
    text-shadow: 0 0 2px #000000;
  }
}
.icon-padding {
  margin-left: 125px;
}
@media (min-width: 768px) {
  .icon-cards {
    margin-top: -120px;
  }
}
@media (min-width: 768px) {
  .card-div {
    height: 320px;
  }
}
.date-div {
  height: 70px;
  width: 60px;
}
@media (min-width: 768px) {
  .main-image {
    background-image: linear-gradient(rgba(0, 2, 7, 0.5), rgba(3, 14, 65, 0.5)),
      url("../asset/images/admission_image.jpg");
    height: 70vh;
    max-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
}
@media (max-width: 768px) {
  .student-div {
    display: none;
  }
}
.total-count {
  font-size: 60px;
  font-weight: 600;
}
